html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Styling for intro section */
#intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#fruit_page,
#with_a,
#twist {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  position: absolute;
}

#main_intro {
  position: absolute;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#main_intro p {
  text-align: center;
  margin: 0;
}

#ready,
#learn {
  grid-area: 1/1/2/2;
  font-size: 1.5rem;
  font-weight: 300;
}

#exotic,
#fruits {
  font-size: 3rem;
  font-weight: 700;
}

#with_a,
#twist {
  opacity: 0;
}

#ready .char,
#exotic .char,
#learn .char,
#fruits .char {
  opacity: 0;
}

#to_lychee {
  opacity: 0;
  color: #840000;
  text-align: center;
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
}

/* Styling for lychee, papaya, durian, custard apple */
#lychee,
#papaya,
#durian,
#custard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff8080;
}

#papaya {
  background-color: #ffc080;
}

#durian {
  background-color: #ffee80;
}

#custard {
  background-color: #80ff80;
}

#lychee_name,
#papaya_name,
#durian_name,
#custard_name {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  position: absolute;
  color: #840000;
}

#papaya_name {
  color: #d75300;
}

#durian_name {
  color: #808000;
}

#custard_name {
  color: #0a7a00;
}

#lychee_content,
#papaya_content,
#durian_content,
#custard_content {
  position: absolute;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#lychee_image,
#papaya_image,
#durian_image,
#custard_image {
  grid-area: 1/1/3/2;
  height: 100%;
  opacity: 0;
  -webkit-mask-box-image: -webkit-linear-gradient(
    bottom,
    transparent 0%,
    #840000 40%,
    #840000 40%
  );
}

#papaya_image {
  -webkit-mask-box-image: -webkit-linear-gradient(
    bottom,
    transparent 0%,
    #d75300 40%,
    #d75300 40%
  );
}

#durian_image {
  -webkit-mask-box-image: -webkit-linear-gradient(
    bottom,
    transparent 0%,
    #808000 40%,
    #808000 40%
  );
}

#custard_image {
  -webkit-mask-box-image: -webkit-linear-gradient(
    bottom,
    transparent 0%,
    #0a7a00 40%,
    #0a7a00 40%
  );
}

#lychee_title,
#papaya_title,
#durian_title,
#custard_title {
  grid-area: 2/1/4/2;
  font-size: 5rem;
  font-weight: 700;
}

#lychee_title .char,
#papaya_title .char,
#durian_title .char,
#custard_title .char {
  color: #ff8080;
  opacity: 0;
}

#papaya_title .char {
  color: #ffc080;
}

#durian_title .char {
  color: #ffee80;
}

#custard_title .char {
  color: #80ff80;
}

#lychee_des,
#papaya_des,
#durian_des,
#custard_des {
  grid-area: 3/1/6/2;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10% 17%;
  line-height: 3rem;
  margin: auto;
  color: #ff8080;
  text-align: center;
}

#papaya_des {
  color: #ffc080;
}

#durian_des {
  color: #ffee80;
}

#custard_des {
  color: #80ff80;
}

#lychee_des .word,
#papaya_des .word,
#durian_des .word,
#custard_des .word {
  opacity: 0;
}

#to_papaya,
#to_durian,
#to_custard,
#to_mangosteen {
  opacity: 0;
  color: #d75300;
  text-align: center;
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
}

#to_durian {
  color: #808000;
}

#to_custard {
  color: #0a7a00;
}

#to_mangosteen {
  color: #55006e;
}

@media only screen and (min-width: 600px) {
  /* Styling for intro section */
  #fruit_page,
  #with_a,
  #twist {
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    position: absolute;
  }

  #exotic,
  #fruits {
    font-size: 6rem;
    font-weight: 900;
  }

  #ready,
  #learn {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }

  #to_lychee {
    line-height: 8rem;
  }

  #to_lychee {
    font-size: 6rem;
    font-weight: 900;
    line-height: 10rem;
  }

  /* Styling for lychee, papaya, durian */
  #lychee_name,
  #papaya_name,
  #durian_name,
  #custard_name {
    font-size: 6rem;
    font-weight: 900;
  }

  #lychee_title,
  #papaya_title,
  #durian_title,
  #custard_title {
    font-size: 9rem;
    font-weight: 900;
  }

  #lychee_des,
  #papaya_des,
  #durian_des,
  #custard_des {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    padding: 5% 15%;
    line-height: 5rem;
    text-align: justify;
  }

  #to_papaya,
  #to_durian,
  #to_custard,
  #to_mangosteen {
    font-size: 6rem;
    font-weight: 900;
    line-height: 10rem;
  }
}
